<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.focusmonk.dao.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.netease.focusmonk.model.Room" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="user_count" property="userCount" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, introduce, owner, state, user_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netease.focusmonk.model.Room" useGeneratedKeys="true" keyProperty="id">
    insert into room (name, introduce, owner)
    values (#{name,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{owner,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.focusmonk.model.Room" >
    update room
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="userCount != null" >
        user_count = #{userCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.focusmonk.model.Room" >
    update room
    set name = #{name,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      user_count = #{userCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="untiedRoom" parameterType="com.netease.focusmonk.model.Room">
    update room
    set owner = -1
    where id = #{id,jdbcType=INTEGER} and owner = #{owner,jdbcType=INTEGER}
  </update>

  <select id="getRoomList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from room
    where state = 0
    order by user_count
  </select>

  <select id="getUserRoomList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from room
    where state = 0 and owner = #{userId,jdbcType=INTEGER}
  </select>
</mapper>