<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.focusmonk.dao.SummaryMapper" >
  <resultMap id="BaseResultMap" type="com.netease.focusmonk.model.Summary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="sum_time" property="sumTime" jdbcType="INTEGER" />
    <result column="sum_book" property="sumBook" jdbcType="INTEGER" />
    <result column="summary_day" property="summaryDay" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, sum_time, sum_book, summary_day
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from summary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from summary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netease.focusmonk.model.Summary" >
    insert into summary (id, user_id, sum_time, 
      sum_book, summary_day)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{sumTime,jdbcType=INTEGER}, 
      #{sumBook,jdbcType=INTEGER}, #{summaryDay,jdbcType=TIMESTAMP})
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.netease.focusmonk.model.Summary" >
    insert into summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sumTime != null" >
        sum_time,
      </if>
      <if test="sumBook != null" >
        sum_book,
      </if>
      <if test="summaryDay != null" >
        summary_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sumTime != null" >
        #{sumTime,jdbcType=INTEGER},
      </if>
      <if test="sumBook != null" >
        #{sumBook,jdbcType=INTEGER},
      </if>
      <if test="summaryDay != null" >
        #{summaryDay,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.focusmonk.model.Summary" >
    update summary
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sumTime != null" >
        sum_time = #{sumTime,jdbcType=INTEGER},
      </if>
      <if test="sumBook != null" >
        sum_book = #{sumBook,jdbcType=INTEGER},
      </if>
      <if test="summaryDay != null" >
        summary_day = #{summaryDay,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.focusmonk.model.Summary" >
    update summary
    set user_id = #{userId,jdbcType=INTEGER},
      sum_time = #{sumTime,jdbcType=INTEGER},
      sum_book = #{sumBook,jdbcType=INTEGER},
      summary_day = #{summaryDay,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- edit By zhenghang. ==================================-->
  <resultMap id="summaryMap" type="com.netease.focusmonk.model.Summary">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="sum_time" property="sumTime"/>
    <result column="sum_book" property="sumBook"/>
    <result column="summary_day" property="summaryDay"/>
    <collection property="taskDetailsList" ofType="com.netease.focusmonk.model.TaskDetail" javaType="ArrayList">
      <id column="tid" property="id"/>
      <result column="task" property="task"/>
        <result column="task_state" property="taskState"/>
    </collection>
  </resultMap>
  
  <select id="selectDayTaskByUserId" resultMap="summaryMap" parameterType="java.lang.Integer">
    SELECT s.id,s.user_id,s.sum_time,s.sum_book,s.summary_day,t.id AS tid,t.task AS task,t.task_state AS task_state
    FROM summary s LEFT JOIN task_detail t ON s.id = t.summary_id WHERE s.user_id = #{userId} ORDER BY s.summary_day DESC
  </select>
  
  <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.netease.focusmonk.model.Summary">
    SELECT * FROM summary WHERE user_id = #{userId} ORDER BY summary_day DESC
  </select>

  <select id="getBookNumsBySummaryDay" resultType="java.lang.Integer">
    SELECT sum_book FROM summary WHERE TO_DAYS(summary_day) = TO_DAYS(#{date})
    AND user_id = #{userId}
  </select>
  <!-- Start Write By KHF. ==================================-->

  <!-- 查询某一用户的所有学习任务汇总记录 -->
  <select id="selectSummaryDayListByUserId" parameterType="java.lang.Integer" resultType="java.util.Date">
    SELECT summary_day FROM summary WHERE user_id = #{userId};
  </select>

  <!-- 查询用户当天任务汇总记录 -->
  <select id="selectTodaySummaryByUserId" parameterType="java.lang.Integer" resultType="com.netease.focusmonk.model.Summary">
    SELECT * FROM summary WHERE user_id = #{userId} AND to_days(summary_day) = to_days(now());
  </select>

  <!-- 查询指定用户，指定日期的学习汇总记录 -->
  <select id="selectSummaryByUserIdAndDay" resultType="com.netease.focusmonk.model.Summary">
    SELECT * FROM summary WHERE TO_DAYS(summary_day) = TO_DAYS(#{startTime})
      AND user_id = #{userId}
  </select>
  <!-- End Write By KHF. ======================================-->

</mapper>