<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.focusmonk.dao.SummaryMapper" >
  <resultMap id="BaseResultMap" type="com.netease.focusmonk.model.Summary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="sum_time" property="sumTime" jdbcType="INTEGER" />
    <result column="sum_book" property="sumBook" jdbcType="INTEGER" />
    <result column="summary_day" property="summaryDay" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, sum_time, sum_book, summary_day
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from summary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from summary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netease.focusmonk.model.Summary" >
    insert into summary (id, user_id, sum_time, 
      sum_book, summary_day)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{sumTime,jdbcType=INTEGER}, 
      #{sumBook,jdbcType=INTEGER}, #{summaryDay,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.netease.focusmonk.model.Summary" >
    insert into summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sumTime != null" >
        sum_time,
      </if>
      <if test="sumBook != null" >
        sum_book,
      </if>
      <if test="summaryDay != null" >
        summary_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sumTime != null" >
        #{sumTime,jdbcType=INTEGER},
      </if>
      <if test="sumBook != null" >
        #{sumBook,jdbcType=INTEGER},
      </if>
      <if test="summaryDay != null" >
        #{summaryDay,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.focusmonk.model.Summary" >
    update summary
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sumTime != null" >
        sum_time = #{sumTime,jdbcType=INTEGER},
      </if>
      <if test="sumBook != null" >
        sum_book = #{sumBook,jdbcType=INTEGER},
      </if>
      <if test="summaryDay != null" >
        summary_day = #{summaryDay,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.focusmonk.model.Summary" >
    update summary
    set user_id = #{userId,jdbcType=INTEGER},
      sum_time = #{sumTime,jdbcType=INTEGER},
      sum_book = #{sumBook,jdbcType=INTEGER},
      summary_day = #{summaryDay,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>