<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.focusmonk.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.netease.focusmonk.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="last_device" property="lastDevice" jdbcType="VARCHAR" />
    <result column="default_time" property="defaultTime" jdbcType="INTEGER" />
    <result column="default_task" property="defaultTask" jdbcType="VARCHAR" />
    <result column="sum_book" property="sumBook" jdbcType="INTEGER" />
    <result column="sum_time" property="sumTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, open_id, phone, image, sex, last_device, default_time, default_task, 
    sum_book, sum_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netease.focusmonk.model.User" >
    insert into user (id, username, open_id, 
      phone, image, sex, 
      last_device, default_time, default_task, 
      sum_book, sum_time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, 
      #{lastDevice,jdbcType=VARCHAR}, #{defaultTime,jdbcType=INTEGER}, #{defaultTask,jdbcType=VARCHAR},
      #{sumBook,jdbcType=INTEGER}, #{sumTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.netease.focusmonk.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="lastDevice != null" >
        last_device,
      </if>
      <if test="defaultTime != null" >
        default_time,
      </if>
      <if test="defaultTask != null" >
        default_task,
      </if>
      <if test="sumBook != null" >
        sum_book,
      </if>
      <if test="sumTime != null" >
        sum_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="lastDevice != null" >
        #{lastDevice,jdbcType=VARCHAR},
      </if>
      <if test="defaultTime != null" >
        #{defaultTime,jdbcType=INTEGER},
      </if>
      <if test="defaultTask != null" >
        #{defaultTask,jdbcType=VARCHAR},
      </if>
      <if test="sumBook != null" >
        #{sumBook,jdbcType=INTEGER},
      </if>
      <if test="sumTime != null" >
        #{sumTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.focusmonk.model.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="lastDevice != null" >
        last_device = #{lastDevice,jdbcType=VARCHAR},
      </if>
      <if test="defaultTime != null" >
        default_time = #{defaultTime,jdbcType=INTEGER},
      </if>
      <if test="defaultTask != null" >
        default_task = #{defaultTask,jdbcType=VARCHAR},
      </if>
      <if test="sumBook != null" >
        sum_book = #{sumBook,jdbcType=INTEGER},
      </if>
      <if test="sumTime != null" >
        sum_book = #{sumTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.focusmonk.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      last_device = #{lastDevice,jdbcType=VARCHAR},
      default_time = #{defaultTime,jdbcType=INTEGER},
      default_task = #{defaultTask,jdbcType=VARCHAR},
      sum_book = #{sumBook,jdbcType=INTEGER},
      sum_time = #{sumTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  
  <insert id="addUser" parameterType="com.netease.focusmonk.model.User" useGeneratedKeys="true" keyProperty="id">
    insert into user(phone, username) values(#{phone}, #{username})
  </insert>

  <!-- Start Write By KHF -->
  <!-- 更新用户总经书卷数 -->
  <update id="updateBookNum">
    UPDATE user SET sum_book = sum_book + #{bookNum} WHERE id = #{userId}
  </update>

  <!-- 更新用户总学习时长 -->
  <update id="updateStudyTime">
    UPDATE user SET sum_time = sum_time + #{durationTime} WHERE id = #{userId}
  </update>

  <!-- 设置用户默认计划时间，默认任务吗 -->
  <update id="updateDefaultTaskAndPlanTime">
    UPDATE user SET default_time = #{planTime}, default_task = #{task}  WHERE id = #{userId}
  </update>
  <!-- End Write By KHF -->

</mapper>