<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.focusmonk.dao.WhiteNoiseSchemeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.netease.focusmonk.model.WhiteNoiseSchemeDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="scheme_id" property="schemeId" jdbcType="INTEGER" />
    <result column="element_id" property="elementId" jdbcType="INTEGER" />
    <result column="volume" property="volume" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, scheme_id, element_id, volume
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from white_noise_scheme_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from white_noise_scheme_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netease.focusmonk.model.WhiteNoiseSchemeDetail" >
    insert into white_noise_scheme_detail (id, scheme_id, element_id, 
      volume)
    values (#{id,jdbcType=INTEGER}, #{schemeId,jdbcType=INTEGER}, #{elementId,jdbcType=INTEGER}, 
      #{volume,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.netease.focusmonk.model.WhiteNoiseSchemeDetail" >
    insert into white_noise_scheme_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schemeId != null" >
        scheme_id,
      </if>
      <if test="elementId != null" >
        element_id,
      </if>
      <if test="volume != null" >
        volume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schemeId != null" >
        #{schemeId,jdbcType=INTEGER},
      </if>
      <if test="elementId != null" >
        #{elementId,jdbcType=INTEGER},
      </if>
      <if test="volume != null" >
        #{volume,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.focusmonk.model.WhiteNoiseSchemeDetail" >
    update white_noise_scheme_detail
    <set >
      <if test="schemeId != null" >
        scheme_id = #{schemeId,jdbcType=INTEGER},
      </if>
      <if test="elementId != null" >
        element_id = #{elementId,jdbcType=INTEGER},
      </if>
      <if test="volume != null" >
        volume = #{volume,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.focusmonk.model.WhiteNoiseSchemeDetail" >
    update white_noise_scheme_detail
    set scheme_id = #{schemeId,jdbcType=INTEGER},
      element_id = #{elementId,jdbcType=INTEGER},
      volume = #{volume,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>